<ion-header>
  <ion-toolbar  color="secondary">
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-img class= "cover" src="./assets/images/offroad.jpg" ></ion-img>
    
    <ion-card-header>
      <ion-card-title>Off-Road Bikes</ion-card-title>
      <ion-card-subtitle >Platinum Service</ion-card-subtitle>
    </ion-card-header>
   
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
    </ion-card-content>
  </ion-card>
</ion-content>
