<ion-header>
  <ion-toolbar  color="secondary">
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="cardcolor">Current Orders</ion-card-title>
 
    </ion-card-header>
    <ion-item>
            <ion-img class= "cover" src="./assets/images/offroad.jpg" ></ion-img>

            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile.
            </ion-card-content>
   
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="cardcolor">Completed Orders</ion-card-title>
 
    </ion-card-header>
    <ion-item>
            <ion-img class= "cover" src="./assets/images/onroad.jpg" ></ion-img>

            <ion-card-content>
             On Road Prices Are High Enough to make you sweat., This is Fromm
            </ion-card-content>
   
    </ion-item>
  </ion-card>
</ion-content>
