<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-icon name="search" size="large"></ion-icon>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content class="pagepadding">

    <ion-img class= "cover1" src="./assets/images/maxresdefault.jpg" ></ion-img>

    <ion-item lines="none">     

       <ion-label class="card">
        <ion-img class= "cover" src="./assets/images/onroad.jpg" ></ion-img>
        </ion-label>

        <ion-label class="card">
          <ion-img class= "cover" src="./assets/images/offroad.jpg" ></ion-img>
        </ion-label>
      
  </ion-item>

    <ion-item lines="none">

      <ion-label class="card ">
        <ion-img class= "cover" src="./assets/images/xroad.jpg" ></ion-img>
       
      </ion-label>   
      <ion-label class="card">
        <ion-img class= "cover" src="./assets/images/bicycle.jpg" ></ion-img>
      </ion-label>
  </ion-item> 

  <ion-item lines="none">
    <ion-label class="card">
      <ion-img class= "cover" src="./assets/images/accessory.jpg" ></ion-img>
      </ion-label>

      <ion-label class="card">
       
        </ion-label>

</ion-item> 

<ion-button  class="backcolor" expand="block">Book Appointment</ion-button> 
</ion-content>
